body {
    @include flex-center;
    font-size: 2rem;
    color: var(--color-grey);
    background-color: #f0f0f0;
    font-family: var(--font-family-base);
}

:where(a[class]) {
    &,
    &::after,
    &::before {
        text-decoration: none;
        transition: var(--transition-duration);
    }
}
