.main {
    cursor: pointer;
    padding: 15px 20px;
    border: 3px solid var(--color-grey);
    border-radius: 10px;
    transition: var(--transition-duration);

    &:hover {
        color: #fff;
        border-color: transparent;
        background-color: var(--color-grey);
        box-shadow: 0 0 5px var(--color-grey);
    }

    &__title {
        font-weight: 600;
    }
}
